body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}


.board-row {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}
.message {
  font: 20px "Century Gothic", Futura, sans-serif;
}
.square {
  border: 1px solid #999;
  float: left;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  width: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  
}

